include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include tally_migration *.css
recursive-include tally_migration *.csv
recursive-include tally_migration *.html
recursive-include tally_migration *.ico
recursive-include tally_migration *.js
recursive-include tally_migration *.json
recursive-include tally_migration *.md
recursive-include tally_migration *.png
recursive-include tally_migration *.py
recursive-include tally_migration *.svg
recursive-include tally_migration *.txt
recursive-exclude tally_migration *.pyc